.row-fluid#paytypes(style='display:none;')
    .span12
        h1 Makseviisid
        if paytypes.length > 0
            table.table.table-bordered.table-hover
                    thead
                        tr
                            th Nimetus
                            th Mõjutab saldot
                            th Lubatud staatusele
                            th
                    tbody#trans-tbody
                        each paytype in paytypes
                            tr(id='#{paytype._id}_paytype') 
                                td= paytype.name
                                td= paytype.affectsBalance ? 'Jah' : 'Ei'
                                td= paytype.allowedForStatus
                                td: a.btn.btn-danger.removePaytype(data-paytype='#{paytype._id}') Kustuta
        else 
            p Makseviise ei ole. Lisamiseks vajuta nuppu "Lisa makseviis"
        a.btn.btn-large(href='#addPaytype', role='button', data-toggle='modal') Lisa makseviis
        #addPaytype.modal(tabindex='-1', role='dialog', aria-labelledby='addPaytypeLabel', aria-hidden='true', style='display: none;')
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3#addPaytypeLabel Lisa makseviis
            .modal-body
                form#addPaytypeForm.form-horizontal(action='/paytype', method='post')
                    .control-group
                        label.control-label(for='paytypeName') Nimetus
                        .controls
                            input#paytypeName(type='text', placeholder='Nimetus',name='name')
                        .control-group
                        label.control-label(for='affectsBalance') Mõjutab saldot
                        .controls
                            label.checkbox(for='affectsBalance')
                                input#affectsBalance(type='checkbox',name='affectsBalance', checked=true)
                        br
                        label.control-label(for='affectsBalance') Lubatud staatustele
                        .controls
                            each status in statuses
                                label.checkbox(for='#{status._id}_allowedForStatus')
                                    input(id='#{status._id}_allowedForStatus', type='checkbox',name='allowedForStatus', value='#{status.name}', checked=true)
                                    | #{status.name}
            .modal-footer
                button.btn(data-dismiss='modal', aria-hidden='true') Sulge
                button#savePaytype.btn.btn-primary Salvesta