.row(ng-controller='PaytypesController', ng-show='paytypes != null')
    .col-md-12
        br
        p(ng-hide='paytypes.length > 0')= t.message('admin.paytypes.desc')
        table.table.table-bordered.table-hover(ng-show='paytypes.length > 0')
            thead
                tr
                    th= t.message('admin.paytypes.table.name')
                    th= t.message('admin.paytypes.table.affectsbalance')
                    th= t.message('admin.paytypes.table.affectsquantity')
                    th= t.message('admin.paytypes.table.allowedfor')
            tbody
                tr(ng-repeat='paytype in paytypes', ng-click='openPaytypeDialog(paytype)')
                    td(ng-bind='paytype.name')
                    td(ng-bind-template=`{{ paytype.affectsBalance ? '${t.message('common.yes')}' : '${t.message('common.no')}' }}`)
                    td(ng-bind-template=`{{ paytype.affectsQuantity ? '${t.message('common.yes')}' : '${t.message('common.no')}' }}`)
                    td(ng-bind='statuses(paytype)')
        button.btn.btn-primary(ng-click='openPaytypeDialog()')= t.message('admin.paytypes.add')