extends layout

block content
    script
        $(function(){
            var navigate = function(href){
                $(".row-fluid").hide();
                $(href).show();
                $("#main-nav li").removeClass("active");
                var selector = "#main-nav li a[href="+href+"]";
                $(selector).parent().addClass("active");
            }
            var hash = window.location.hash || "#users";
            navigate(hash);
            $("#main-nav li a ").click(function(){
                navigate($(this).attr("href"));
            });
            $("#addUser").click(function(){
                $.get("/users/change", function(data){
                    $("#changeUserDiv").html(data);
                    $("#changeUser").modal();
                });
            });
            $("#resetBalance").click(function(){
                var reset = window.confirm("Oled kindel, et tahad kõikide liikmete saldosi nullida?");
                if(reset){
                    $.post("/users/reset", function(){
                        window.location.reload();
                    })
                }
            });
            $("#resetTransactions").click(function(){
                var reset = window.confirm("Oled kindel, et tahad kõik tehingud eemaldada?");
                if(reset){
                    $.post("/transaction/reset", function(){
                        window.location.reload();
                    });
                }
            });
            $("#saveWarehouse").click(function(){
                $("#changeWarehouseForm").submit();
            });
            $('#changeWarehouseForm input').keydown(function(e) {
                if (e.keyCode == 13) {
                    $('#changeWarehouseForm').submit();
                }
            });
            $("a.deleteUser").click(function(){
                var id = $(this).data("user");
                $.post("/users/remove",{id: id},function(data){
                    if(data.status === 'success'){
                        $("tr#"+id+"_user").remove();
                    }
                });
            });
            $("a.changeUser").click(function(){
                var id = $(this).data("user");
                $.get("/users/change",{id: id}, function(data){
                    $("#changeUserDiv").html(data);
                    $("#changeUser").modal();
                });
            });
            $("a.changeBalance").click(function(){
                $("#inputBalanceId").val($(this).data("user"));
                $("#inputBalance").val($(this).data("balance"));
            });
            $("#saveBalance").click(function(){
                $("#changeBalanceForm").submit();
            });
            $('#changeBalanceForm input').keydown(function(e) {
                if (e.keyCode == 13) {
                    $('#changeBalanceForm').submit();
                }
            });
            var toggleProductInputs = function(toggle){
                $("#productName").toggle(toggle);
                $("#productPrice").toggle(toggle);
            }
            toggleProductInputs($("#inputProduct").val() == '');
            $(".inputProduct").dropkick({
                change: function(value, label){
                    console.log(value);
                    toggleProductInputs(value == '');
                }
            });
            $("a.removeProduct").click(function(){
                var id = $(this).data("product");
                $.post("/warehouse/remove",{id: id},function(data){
                    window.location.reload();
                });
            });
            $("#saveStatus").click(function(){
                $("#addStatusForm").submit();
            });
            $("a.removeStatus").click(function(){
                var id = $(this).data("status");
                $.post("/status/remove",{id: id},function(data){
                    if(data.status === 'success'){
                        $("tr#"+id+"_status").remove();
                    }
                });
            });
            $("#savePaytype").click(function(){
                $("#addPaytypeForm").submit();
            });
            $("a.removePaytype").click(function(){
                var id = $(this).data("paytype");
                $.post("/paytype/remove",{id: id},function(data){
                    if(data.status === 'success'){
                        $("tr#"+id+"_paytype").remove();
                    }
                });
            });
        });
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container-fluid
              button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              .nav-collapse.collapse
                ul#main-nav.nav
                    li
                        a(href='/') Kassa
                    li.active
                        a(href='#users') Kasutajad
                    li
                        a(href='#transactions') Tehingud
                    li
                        a(href='#warehouse') Laoseis
                    li
                        a(href='#paytypes') Makseviisid
                    li
                        a(href='#statuses') Staatused
    .container-fluid
        .row-fluid#users
            .span12
                h1 Kasutajad
                table.table.table-bordered.table-hover
                        thead
                            tr
                                th Staatus
                                th Eesnimi
                                th Perenimi
                                th Õllenimi
                                th Saldo
                                th
                        tbody#trans-tbody
                            each user in users
                                tr(id='#{user._id}_user') 
                                    td= user.status
                                    td= user.firstname
                                    td= user.lastname
                                    td= user.beername
                                    td #{user.balance} €
                                    td
                                        .btn-group
                                            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                                                | Muuda 
                                                span.caret
                                              ul.dropdown-menu
                                                li: a.changeUser(data-user='#{user._id}') Muuda kasutajat
                                                li: a.changeBalance(href='#changeBalanceModal', role='button', data-toggle='modal', data-user='#{user._id}', data-balance='#{user.balance}') Muuda saldot
                                                li: a.deleteUser(data-user='#{user._id}') Kustuta
                button#addUser.btn.btn-large Lisa kasutaja
                &nbsp;
                button#resetBalance.btn.btn-danger.btn-large Nulli saldod
                #changeUserDiv
                #changeBalanceModal.modal(tabindex='-1', role='dialog', aria-labelledby='changeBalanceLabel', aria-hidden='true', style='display: none;')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h3#changeBalanceLabel Muuda saldot
                    .modal-body
                        form#changeBalanceForm.form-horizontal(action='/users/balance', method='post')
                            .control-group
                                label.control-label(for='inputBalance') Saldo
                                .controls
                                    input#inputBalanceId(type='hidden', name='id')
                                    input#inputBalance(type='text', placeholder='0',name='balance')
                    .modal-footer
                        button.btn(data-dismiss='modal', aria-hidden='true') Sulge
                        button#saveBalance.btn.btn-primary Salvesta
        .row-fluid#transactions(style='display:none;')
            .span12
                h1 Tehingud
                if transactions.length > 0
                    table.table.table-bordered.table-hover
                            thead
                                tr
                                    th Aeg
                                    th Nimi
                                    th Summa
                                    th Makseviis
                            tbody#trans-tbody
                                each transaction in transactions
                                    tr(class='#{transaction.invalid ? 'error' : ''}')
                                        td= transaction.time.toDateString()+" "+transaction.time.getHours()+":"+transaction.time.getMinutes()
                                        td= transaction.user
                                        td #{transaction.sum} €
                                        td= transaction.type
                    button#resetTransactions.btn.btn-danger.btn-large Nulli tehingud
                else
                    p Käesoleval perioodil ei ole veel tehinguid tehtud.
        .row-fluid#warehouse(style='display:none;')
            .span12
                h1 Laoseis
                if products.length > 0
                    table.table.table-bordered.table-hover
                            thead
                                tr
                                    th Toode
                                    th Hind
                                    th Kogus
                                    th
                            tbody#trans-tbody
                                each product in products
                                    tr(id='#{product._id}_product') 
                                        td= product.name
                                        td #{product.price} €
                                        td= product.quantity
                                        td: a.btn.btn-danger.removeProduct(data-product='#{product._id}') Kustuta
                else
                    p Tooteid ei ole. Uute toodete lisamiseks vajuta nuppu "Muuda laoseisu"
                a.btn.btn-large(href='#changeWarehouse', role='button', data-toggle='modal') Muuda laoseisu
                #changeWarehouse.modal(tabindex='-1', role='dialog', aria-labelledby='changeWarehouseLabel', aria-hidden='true', style='display: none;')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h3#changeWarehouseLabel Muuda laoseisu
                    .modal-body
                        form#changeWarehouseForm.form-horizontal(action='/warehouse', method='post')
                            .control-group
                                label.control-label(for='inputProduct') Toode
                                .controls
                                    select#inputProduct.inputProduct.span7(name='name')
                                        each product in products
                                            option(value='#{product.name}') #{product.name}
                                        option(value='') Uus
                            .control-group#productName(style='display:none;')
                                label.control-label(for='inputName') Nimi
                                .controls
                                    input#inputName(type='text', placeholder='Toote nimi',name='newName')
                            .control-group#productPrice(style='display:none;')
                                label.control-label(for='inputPrice') Hind
                                .controls
                                    input#inputPrice(type='text', placeholder='Hind',name='price')
                            .control-group
                                label.control-label(for='inputQty') Laoseis
                                .controls
                                    input#inputQty(type='text', placeholder='Kogus',name='quantity')
                    .modal-footer
                        button.btn(data-dismiss='modal', aria-hidden='true') Sulge
                        button#saveWarehouse.btn.btn-primary Salvesta
        .row-fluid#paytypes(style='display:none;')
            .span12
                h1 Makseviisid
                if paytypes.length > 0
                    table.table.table-bordered.table-hover
                            thead
                                tr
                                    th Nimetus
                                    th Mõjutab saldot
                                    th Lubatud staatusele
                                    th
                            tbody#trans-tbody
                                each paytype in paytypes
                                    tr(id='#{paytype._id}_paytype') 
                                        td= paytype.name
                                        td= paytype.affectsBalance ? 'Jah' : 'Ei'
                                        td= paytype.allowedForStatus
                                        td: a.btn.btn-danger.removePaytype(data-paytype='#{paytype._id}') Kustuta
                else 
                    p Makseviise ei ole. Lisamiseks vajuta nuppu "Lisa makseviis"
                a.btn.btn-large(href='#addPaytype', role='button', data-toggle='modal') Lisa makseviis
                #addPaytype.modal(tabindex='-1', role='dialog', aria-labelledby='addPaytypeLabel', aria-hidden='true', style='display: none;')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h3#addPaytypeLabel Lisa makseviis
                    .modal-body
                        form#addPaytypeForm.form-horizontal(action='/paytype', method='post')
                            .control-group
                                label.control-label(for='paytypeName') Nimetus
                                .controls
                                    input#paytypeName(type='text', placeholder='Nimetus',name='name')
                                .control-group
                                label.control-label(for='affectsBalance') Mõjutab saldot
                                .controls
                                    label.checkbox(for='affectsBalance')
                                        input#affectsBalance(type='checkbox',name='affectsBalance', checked=true)
                                br
                                label.control-label(for='affectsBalance') Lubatud staatustele
                                .controls
                                    each status in statuses
                                        label.checkbox(for='#{status._id}_allowedForStatus')
                                            input(id='#{status._id}_allowedForStatus', type='checkbox',name='allowedForStatus', value='#{status.name}', checked=true)
                                            | #{status.name}
                    .modal-footer
                        button.btn(data-dismiss='modal', aria-hidden='true') Sulge
                        button#savePaytype.btn.btn-primary Salvesta
        .row-fluid#statuses(style='display:none;')
            .span12
                h1 Staatused
                if statuses.length > 0
                    table.table.table-bordered.table-hover
                            thead
                                tr
                                    th Nimetus
                                    th
                            tbody
                                each status in statuses
                                    tr(id='#{status._id}_status') 
                                        td= status.name
                                        td: a.btn.btn-danger.removeStatus(data-status='#{status._id}') Kustuta
                else
                    p Staatuseid ei ole. Lisamiseks vajuta nuppu "Lisa staatus"
                a.btn.btn-large(href='#addStatus', role='button', data-toggle='modal') Lisa staatus
                #addStatus.modal(tabindex='-1', role='dialog', aria-labelledby='addStatusLabel', aria-hidden='true', style='display: none;')
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h3#addStatusLabel Lisa staatus
                    .modal-body
                        form#addStatusForm.form-horizontal(action='/status', method='post')
                            .control-group
                                label.control-label(for='statusName') Nimetus
                                .controls
                                    input#statusName(type='text', placeholder='staatus',name='status')
                    .modal-footer
                        button.btn(data-dismiss='modal', aria-hidden='true') Sulge
                        button#saveStatus.btn.btn-primary Salvesta
