extends layout

block content
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container-fluid
              button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              .nav-collapse.collapse
                ul.nav(ng-controller='NavController')
                    li
                        a(href='/')= t('admin.menu.pos')
                    li(ng-class='{active: isActive("users")}')
                        a(href='#users')= t('admin.menu.users')
                    li(ng-class='{active: isActive("transactions")}')
                        a(href='#transactions')= t('admin.menu.transactions')
                    li(ng-class='{active: isActive("products")}')
                        a(href='#products')= t('admin.menu.products')
                    li(ng-class='{active: isActive("paytypes")}')
                        a(href='#paytypes')= t('admin.menu.paytypes')
                    li(ng-class='{active: isActive("statuses")}')
                        a(href='#statuses')= t('admin.menu.statuses')
                    li(ng-class='{active: isActive("stocktakings")}')
                        a(href='#stocktakings')= t('admin.menu.stocktakings')
                    li(ng-class='{active: isActive("feedback")}')
                        a(href='#feedback')= t('admin.menu.feedback')
    .container-fluid(ng-view)