extends layout

block content
        .container-fluid(ng-controller='PosController')
            .row-fluid
                .span12
                    h2= t('pos.title')
            br
            .row-fluid
                .span10
                    p= t('pos.desc.start')
                        a(href='#', ng-click='intro()')= t('pos.desc.end')
                .span2
                    button#feedbackBtn.btn(ng-click='openFeedbackDialog()')= t('pos.feedback')

            .row-fluid
                .span5
                    .control-group(class='{{user != null && "success" || "error"}}')
                        #userinput.controls(data-step='1', data-intro=t('intro.step1'))
                            input(type='text', placeholder=t('pos.client'), ng-model='user',
                                typeahead='user as user.label for user in users | filter:$viewValue')
                .span7
                    .alert(ng-show='status != null', class='{{statusError && "alert-error" || "alert-success"}}')
                        strong(ng-bind='status')
                        |  {{statusMessage}}
            .row-fluid
                .span12
                    h4= t('pos.products.title')
                    p= t('pos.products.desc.start')
                        a(href='#', ng-click='toggleShowAllProducts()')= t('pos.products.desc.end')
                    table.table.table-bordered.table-hover.table-condensed.table-striped(data-step='2', data-intro=t('intro.step2'))
                        thead
                            tr
                                th= t('pos.products.table.name')
                                th.choosequantity(data-step='3', data-intro=t('intro.step3'))= t('pos.products.table.quantity')
                                th.quantity= t('pos.products.table.count')
                                th.price= t('pos.products.table.price')
                        tbody
                            tr(ng-repeat='product in filteredProducts()', class='{{product.quantity <= 0 && "error" || ""}}')
                                td(ng-bind='product.name')
                                td
                                    i.gi-circle_plus(ng-click='changeQuantity(product, 1)')
                                    span(ng-bind='quantity(product)')
                                    i.gi-circle_minus(ng-click='changeQuantity(product, -1)')
                                td(ng-bind='product.quantity')
                                td
                                    span(ng-bind='product.price')
                                    |  #{t('common.currency')}
                    .well.well-large(data-step='4', data-intro=t('intro.step4'))
                        h1
                            | #{t('pos.products.sum') }
                            span(ng-bind='sum()')
                            | #{ t('common.currency')}
                    .btn-group(data-step='5', data-intro=t('intro.step5'))
                        button.btn.btn-large(ng-repeat='paytype in paytypes', ng-click='pay(paytype)', ng-disabled='isDisabled(paytype)', disabled) {{paytype.name}}
            br
            .row-fluid
                .span12
                    h4(data-step='6', data-intro=t('intro.step6'))= t('pos.transactions.title')
                    table.table.table-bordered.table-hover(ng-show='transactions.length > 0')
                        thead
                            tr
                                th= t('pos.transactions.table.time')
                                th= t('pos.transactions.table.user')
                                th= t('pos.transactions.table.sum')
                                th= t('pos.transactions.table.type')
                        tbody
                            tr(ng-repeat='transaction in filteredTransactions()', ng-click='invalidTransaction(transaction)')
                                td(ng-bind='transaction.formattedTime')
                                td(ng-bind='transaction.user.label')
                                td {{transaction.sum}} #{t('common.currency')}
                                td(ng-bind='transaction.type')
                            tr(ng-hide='showAllTransactions', ng-click='toggleTransactions(true)')
                                td(colspan="4", style='text-align:center')
                                    i.icon-arrow-down
                                    | #{t('pos.transactions.more')}
                                    i.icon-arrow-down
                            tr(ng-show='showAllTransactions', ng-click='toggleTransactions(false)')
                                td(colspan="4", style='text-align:center')
                                    i.icon-arrow-up
                                    | #{t('pos.transactions.less')}
                                    i.icon-arrow-up
