#changeUser.modal(tabindex='-1', role='dialog', aria-labelledby='changeUserLabel', aria-hidden='true')
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#changeUserLabel Lisa kasutaja
    .modal-body
        form#createUserForm.form-horizontal(action='/users', method='post')
            input(type='hidden', name='id', value='#{user._id}')
            .control-group
                label.control-label(for='inputStatus') Staatus
                .controls
                    select.span7(name='status')
                        option(value='reb!') reb!
                        option(value='ksv!') ksv!
                        option(value='vil!') vil!
                        option(value='kül!') kül!
            .control-group
                label.control-label(for='inputFirstname') Eesnimi
                .controls
                    input#inputFirstname(type='text', placeholder='Eesnimi', name='firstname', value='#{user.firstname}')
            .control-group
                label.control-label(for='inputLastname') Perenimi
                .controls
                    input#inputLastname(type='text', placeholder='Perenimi', name='lastname', value='#{user.lastname}')
            .control-group
                label.control-label(for='inputBeername') Õllenimi
                .controls
                    input#inputBeername(type='text', placeholder='Õllenimi', name='beername', value='#{user.beername}')
    .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Sulge
        button#saveUser.btn.btn-primary Salvesta
script
    $("select[name='status']").val("#{user.status}");
    $("select[name='status']").dropkick()
    $("#saveUser").click(function(){
        $("#createUserForm").submit();
    });
    $('#createUserForm input').keydown(function(e) {
        if (e.keyCode == 13) {
            $('#createUserForm').submit();
        }
    });