extends layout

block content
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')= t.message('admin.menu.pos')
            .navbar-collapse.collapse
                ul.nav.navbar-nav(ng-controller='NavController')
                    li(ng-class='{active: isActive("users")}')
                        a(href='#users')= t.message('admin.menu.users')
                    li(ng-class='{active: isActive("transactions")}')
                        a(href='#transactions')= t.message('admin.menu.transactions')
                    li(ng-class='{active: isActive("products")}')
                        a(href='#products')= t.message('admin.menu.products')
                    li(ng-class='{active: isActive("paytypes")}')
                        a(href='#paytypes')= t.message('admin.menu.paytypes')
                    li(ng-class='{active: isActive("statuses")}')
                        a(href='#statuses')= t.message('admin.menu.statuses')
                    li(ng-class='{active: isActive("stocktakings")}')
                        a(href='#stocktakings')= t.message('admin.menu.stocktakings')
                    li(ng-class='{active: isActive("feedback")}')
                        a(href='#feedback')= t.message('admin.menu.feedback')
    .container.admin(ng-view)