extends layout

block content
    .container(ng-controller='PosController', ng-cloak)
        br
        .row
            .col-md-6.col-xs-6
                h3= t.message('pos.title')
            .col-md-6.col-xs-6
                button.btn.btn-info.pull-right(ng-click='openFeedbackDialog()')= t.message('pos.feedback')
        .row
            .col-md-4
                .form-search.userform.has-feedback.search-only.has-error(ng-hide='isUserSelected()')
                    i.search-icon.glyphicon.glyphicon-search
                    input.form-control.search-query#usernotselected(type='text', placeholder=t.message('pos.client'),
                        ng-model='user', data-animation="am-flip-x", ng-options='user as user.label for user in users | filter:$viewValue', bs-typeahead, focus-me)
                    span.glyphicon.glyphicon-remove.form-control-feedback
                .form-search.userform.has-feedback.input-group.has-success(ng-show='isUserSelected()', ng-cloak)
                    input.form-control.search-query(type='text', placeholder=t.message('pos.client'),
                        ng-model='user', data-animation="am-flip-x", ng-options='user as user.label for user in users | filter:$viewValue', bs-typeahead, ng-click='clear()')
                    span.input-group-btn
                        button.btn.btn-primary(data-type='last', ng-click='openInfoDialog(user)') Info
            .col-md-8
                button.btn.pull-right(href='#', ng-click='toggleShowAllProducts()', ng-show='haveZeroQuantity()')= t.message('pos.products.show.all')
        br.visible-xs.visible-sm
        .row
            .col-md-12
                table.table.table-bordered.table-hover.table-condensed.table-striped
                    thead
                        tr
                            th= t.message('pos.products.table.name')
                            th.choosequantity= t.message('pos.products.table.quantity')
                            th.quantity= t.message('pos.products.table.count')
                            th.price= t.message('pos.products.table.price')
                    tbody
                        tr(ng-repeat='product in filteredProducts()', class='{{product.quantity <= 0 && "danger" || ""}}')
                            td(ng-bind='product.name')
                            td
                                span.glyphicon.glyphicon-plus(ng-click='changeQuantity(product, 1)')
                                span(ng-bind='quantity(product)')
                                span.glyphicon.glyphicon-minus(ng-click='changeQuantity(product, -1)')
                            td(ng-bind='product.quantity')
                            td
                                span(ng-bind='product.price')
                                |  #{t.message('common.currency')}
        .row
            .col-md-4
                h2
                    | #{t.message('pos.products.sum') }
                    span(ng-bind='sum()')
                    |  #{t.message('common.currency')}
            .col-md-8
                .alert(ng-show='status != null', class='{{statusError ? "alert-danger" : "alert-success"}}', ng-cloak)
                    strong(ng-bind='status')
                    |  {{statusMessage}}
        .row
            .col-md-12
                .btn-group
                    button.btn.btn-lg(ng-repeat='paytype in paytypes', ng-click='pay(paytype)', ng-disabled='isDisabled(paytype)', disabled) {{paytype.name}}
        br
        .row
            .col-md-12
                h4= t.message('pos.transactions.title')
                table.table.table-bordered.table-hover(ng-show='transactions.length > 0')
                    thead
                        tr
                            th= t.message('pos.transactions.table.time')
                            th= t.message('pos.transactions.table.user')
                            th= t.message('pos.transactions.table.sum')
                            th= t.message('pos.transactions.table.type')
                    tbody
                        tr(ng-repeat='transaction in filteredTransactions()', ng-click='openTransactionDialog(transaction)')
                            td(ng-bind='transaction.formattedTime')
                            td(ng-bind='transaction.user.label')
                            td {{transaction.sum}} #{t.message('common.currency')}
                            td(ng-bind='transaction.paytype.name')
                        tr(ng-hide='showAllTransactions', ng-click='toggleTransactions(true)')
                            td(colspan="4", style='text-align:center')
                                span.glyphicon.glyphicon-arrow-down
                                | #{t.message('pos.transactions.more')}
                                span.glyphicon.glyphicon-arrow-down
                        tr(ng-show='showAllTransactions', ng-click='toggleTransactions(false)')
                            td(colspan="4", style='text-align:center')
                                span.glyphicon.glyphicon-arrow-up
                                | #{t.message('pos.transactions.less')}
                                span.glyphicon.glyphicon-arrow-up
